</br>
<div align="left">
	<b>Viewing vouchers for supplier:	PVAMU LLC 	</b>
	</br>
	
	<b>Expenses duration date : </b>  <h3>Sep 21 - Sep  27 
	<span style="color:Red">Not submitted/ Approved </span> 
	<!-- <span style="color:yellow">Submitted</span>
	<span style="color:red">Rejected</span>
	<span style="color:green">Approved</span> -->
	</h3>

	<div class="panel panel-default panel-info">

		<div class="panel-heading">
			<h3 class="panel-title">IT - Software Engineer III</h3>
		</div>
		<div class="panel-body">
		
		<div class="row">

				<div class="col-md-2">
					<b>Select your project </b>
				</div>
				<div class="col-md-8">
					<b> <select ng-model="creit.projectName" bs-selectbox>
							<option value="67169">67169 - WCS Migration</option>
							<option value="67170">67170 - WCS devlopment</option>
							<option value="67171">67171 - WCS Env</option>
					</select>
					</b>
				</div>

			</div>
			</br>
			
			<div class="row">
					<div class="col-md-2"><b>Date</b></div>
					<div class="col-md-3"><b>Description</b></div>
					<div class="col-md-2" ><b>Amount (USD)</b></div>
					<div class="col-md-5" ><b>Expense Type</b></div>					
			</div>
		
			<div class="row">
					<div class="col-md-2"><b>09/21/2015</b></div>
					<div class="col-md-3"><textarea rows="1"  ng-model="creit.e1.text"></textarea></div>
					<div class="col-md-2"><input  type="" class="col-md-8"  ng-model="creit.e1.amount"></div>
					<div class="col-md-5"><input  type="" class="col-md-6"  ng-model="creit.e1.exType"></div>
			</div>
			
			<div class="row">
					<div class="col-md-2"><b>09/21/2015</b></div>
					<div class="col-md-3"><textarea rows="1"  ng-model="creit.e2.text"></textarea></div>
					<div class="col-md-2"><input  type="" class="col-md-8"  ng-model="creit.e2.amount"></div>
					<div class="col-md-5"><input  type="" class="col-md-6"  ng-model="creit.e2.exType"></div>
			</div>
			
			<div class="row">
					<div class="col-md-2"><b>09/21/2015</b></div>
					<div class="col-md-3"><textarea rows="1"  ng-model="creit.e3.text"></textarea></div>
					<div class="col-md-2"><input  type="" class="col-md-8"  ng-model="creit.e3.amount"></div>
					<div class="col-md-5"><input  type="" class="col-md-6"  ng-model="creit.e3.exType"></div>
			</div>
			
			<div class="row">
					<div class="col-md-2"><b>09/21/2015</b></div>
					<div class="col-md-3"><textarea rows="1"  ng-model="creit.e4.text"></textarea></div>
					<div class="col-md-2"><input  type="" class="col-md-8"  ng-model="creit.e4.amount"></div>
					<div class="col-md-5"><input  type="" class="col-md-6"  ng-model="creit.e4.exType"></div>
			</div>
			
			<div class="row">
					<div class="col-md-2"><b>09/21/2015</b></div>
					<div class="col-md-3"><textarea rows="1"  ng-model="creit.5.text"></textarea></div>
					<div class="col-md-2"><input  type="" class="col-md-8"  ng-model="creit.e5.amount"></div>
					<div class="col-md-5"><input  type="" class="col-md-6"  ng-model="creit.e5.exType"></div>
			</div>			
			
		
		</div>
		<div class="row">
		<div class="col-md-6"></div>
			<div class="col-md-3"><button type="button" class="btn btn-primary" ng-click="saveExpences()"  >Submit Expences</button></div>
		</div>
		</br>
		
	</div>


</div>